body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.table_tr{
  cursor: pointer;
}
.table_tr th{
 position: relative;
}
.table_tr:hover th::after{
  content: 'x';
  position: absolute;
  color: white;
  background: #FF4858;
  height: 18px;
  width: 18px;
  left: 12px;
  top: 13px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
}
small{
  color:#FF4858
}